*{
  background-color: white;
}
 
.nav{
  justify-content: space-between;
}

.text{
  text-align: justify;


}
.ancor{
  text-decoration: none;
  color:green;

}


  img{
    height: 500px;
    width: 400px;
    display: inline-block;
    margin-right: 10px;
  }
 .ancor:hover{
  color: aqua;
 } 
 .card:hover{
  color: black;
 }
 .form{
 justify-content: space-between;
 height: 50%;
 width: auto;
 }